{% extends 'insert_coin_app/base.html' %}
{% load static %}

{% block titulo %}
    ABOUT ME
{% endblock titulo %}

{% block contenido %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1 style="text-align: center;">ABOUT ME</h1>
    <h3 style="text-align: justify; font-size: 22px;font-weight: normal;">
        
        <p>Soy Roberto Salas y tengo 39 años.</p>

        <p>Esta es mi primera página web que hago en mi vida. Soy argentino nacido en Mar del Plata aunque en los últimos años he estado viviendo afuera más allá de que los meses en los que cursé Python me encontraba en Argentina.</p>

        <p>Mi trabajo regular está lejos de la informática ya que me desempeño como recepcionista de hotel. He trabajado en hoteles de Argentina, Brasil, España y Francia. Hablo español, inglés, francés y tengo una base de portugués. Actualmente, estoy por empezar un curso de italiano.</p>
    </h3>
</body>
</html>
{% endblock contenido %}