{% extends 'insert_coin_app/base.html' %}
{% load static %}

{% block titulo %}
    Página de Bienvenida
{% endblock titulo %}

{% block contenido %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1 style="text-align: center;">Bienvenido a nuestra Tienda virtual INSERT COIN</h1>
    <h3 style="text-align: justify; font-size: 22px;font-weight: normal;">
        
        En nuestra Tienda virtual podrán encontrar juegos físicos de Playstation 5(PS5), XBOX SERIES X, NINTENDO SWITCH, Plastation 4 (PS4) y PC.
        Podrán acceder a nuestro amplio catálogo de juegos una vez que se hayan registrado (Pueden encontrar el botón SIGN UP en la esquina superior derecha de la pantalla).
    </h3>
</body>
</html>
{% endblock contenido %}
