{% extends 'insert_coin_app/base.html' %}
{% load static %}

{% block titulo %}
    Otras Consolas
{% endblock titulo %}

{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Otras Consolas</h2></td>
        <td>
            <a
            href="{% url 'create_otras_consolas' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa-solid fa-plus fa-lg" title="New Record"></i>
            </a>
        </td>
    </tr>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Plataforma</th>
            <th>Género</th>
            <th>Online</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for o in otras_consolas_list  %}
        <tr>
            <td>{{ o.id }}</td>
            <td>{{ o.nombre }}</td>
            <td>{{ o.plataforma }}</td>
            <td>{{ o.genero }}</td>
            <td>{{ o.online }}</td>
            <td>{{ o.precio_con_simbolo }}</td>
            <td>
                <a
                    href="{% url 'update_otras_consolas' o.id %}"
                    class="btn btn-primary"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 5.rem; --bs-btn-font-size: 1.1rem;"
                    ><i class="fa-solid fa-edit fa-lg" title="Edit Record"></i>
                </a>
                <a 
                    href="{% url 'delete_otras_consolas' o.id %}"
                    class="btn btn-danger"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 5.rem; --bs-btn-font-size: 1.1rem;"
                    ><i class="fa-solid fa-trash fa-lg" title="Delete Record"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock contenido %}