{% extends 'insert_coin_app/base.html' %}
{% load static %}

{% block titulo %}
    <h1>Eliminar juego de PS5</h1>
{% endblock titulo %}

{% block contenido %}
    
    <form action="" method="post">
        {% csrf_token %}
       <div class="text-center">
            <h2>¿Está seguro que quiere eliminar el juego? </h2>
       </div>
       <div class="text-center"> <p style="color:red; font-weight:bold;">{{ object }}</p>
            <input type="submit" class="btn btn-primary btn-block" value="Confirmar">
        </div>
    </form>
{% endblock contenido %}