{% extends 'insert_coin_app/base.html' %}
{% load static %}

{% block titulo %}
    Lista de Socios
{% endblock titulo %}

{% block contenido %}
<table>
    <tr>
        <h2>Lista de Socios</h2>
        
    </tr>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>E-mail</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        {% for s in Socios %}
        <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.nombre }}</td>
            <td>{{ s.apellido }}</td>
            <td>{{ s.email }}</td>
            <td>{{ s.edad }}</td>
        </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock contenido %}